body{
    max-width: 480px;
    margin: auto;
}
table{
    min-height: 300px;
    font-size: 33px
}
.casilla{
    border: solid 1px;
    min-width: 100px;
    text-align: center;
}

.casilla:hover{
    background-color: green;
    cursor: pointer;
}